# Intellij
*.iml
.idea

# Generated
dist/

# VSCode
.vscode/*
!/.vscode/settings.json

# npm
node_modules

# yarn
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
.pnp.cjs
.pnp.loader.mjs

# build
*.js
*.js.map

# obsidian
data.json

.DS_Store

!__mocks__/*.js
!/.eslintrc.js
!babel.config.js
