# Intellij
*.iml
.idea

# Generated
dist/

# npm
node_modules

# yarn
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
.pnp.cjs
.pnp.loader.mjs

# build
*.js
*.js.map

# obsidian
data.json

.DS_Store
